.discover{
	background-color: #F1F1F1;
	&__container{
		display: flex;
		flex-direction: column;
		gap: 70px;
		@media screen and (min-width:1024px) {
			flex-direction: row;
		}
	}
	&__images{
		display: flex;
		flex-direction: column;
		position: relative;
		width: 100%;
		gap: 10px;
		@media screen and (min-width:1024px) {
			flex-direction: row;
			width: 48%;
		}
		@media screen and (min-width:768px)  and (max-width:1023.9px){
			aspect-ratio: 1;
			margin: 0 auto;
			max-width: 590px;
		}
		@media screen and (max-width:767.9px) {
			aspect-ratio: 1;
		}
		img{
			
			width: 100%;
			height: 100%;
			object-fit: cover;
			// @media  screen and (min-width:1024px) {
				width: 56%;
			// }
			@media screen and (min-width:768px) {
				max-width: 350px;
			}
			
			&:nth-of-type(1){
				// @media  screen and (min-width:768px) {
					position: absolute;
				top: 0;
				left: 0;
				transform: rotate(-2deg);
				z-index: 1;
				// }
				
			}
			&:nth-of-type(2){
				// @media  screen and (min-width:768px) {
					position: absolute;
					top: 0;
					right: 0;
					transform: rotate(2deg);
					z-index: 0;
				// }
		
			}
		}
	}
	&__content{
		@media screen and (min-width:1024px) {
			width: 52%;
		}
		h2{
			@include titleH2;
			margin-bottom: 15px;
		}
		h3{
			@include titleH3;
			margin-bottom: 20px;
		}
		p{
			&:not(:nth-last-of-type(1)){
				margin-bottom: 30px;
			}
			font-size: 16px;
			font-style: normal;
			font-weight: 400;
			line-height: 160%;
		}
		ul{
			display: flex;
			flex-direction: column;
			gap: 10px;
			margin-bottom: 20px;
		
			li{
				position: relative;
				font-size: 18px;
				font-style: normal;
				font-weight: 600;
				line-height: 140%;
				padding-left: 28px;
				&::before{
					content: '';
					width: 18px;
					height: 18px;
					position: absolute;
					top: 50%;
					left: 0;
					transform: translateY(-50%);
					background: url(../images/arrow-white.svg) center center /cover no-repeat;
				}
			}
		}
	}
}