.footer{
	background-color: $--dark;
	&__promo{
		display: flex;
		flex-direction: column;
		gap: 30px;
		padding: 70px 0;
		border-bottom: 1px solid rgba(255, 255, 255, 0.20);
		@media screen and (min-width:1024px) {
			flex-direction: row;
			justify-content: space-between;
		}
		div{
			@include titleH1;
			color: $--white;
			max-width: 554px;
			text-transform: uppercase;
			font-weight: 900;
		}
		.btn{
			min-width: 227px;
			padding: 25px 40px;
			height: fit-content;
		}
	}
	&__top{
		padding: 70px 0 100px 0;
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		gap: 40px;
		flex-direction: column;
		@media screen and (min-width:1240px) {
			gap: 120px;
		}
		@media screen and (min-width:1024px) {
			flex-direction: row;
		}
		@media screen and (min-width:1024px) and (max-width:1239px) {
			gap: 100px;
		}
	}
	.logo{
		@media screen and (max-width:1023.9px) {
			margin: 0 auto;
		}
	}

	&__wrap{
		display: flex;
		gap: 30px;
		flex-direction: column;
		width: 100%;
		@media screen and (min-width:1240px) {
			width: 57%;
			gap: 120px;
		}
		@media screen and (min-width:1024px) {
		flex-direction: row;
		}
		@media screen and (min-width:1024px) and (max-width:1239.9px) {
		gap: 60px;
		justify-content: space-between;
		}
		nav{
			color: rgba(255, 255, 255, 0.80);
				 ul{
					display: flex;
					gap: 25px;
					flex-direction: column;
					li{
						display: flex;
						flex-direction: column;
						gap: 30px;
					
					}
					
				}
			}
	}
	&__block{
		display: flex;
		gap: 40px;
		flex-direction: column;
		&__title{
			font-size: 20px;
			font-style: normal;
			font-weight: 800;
			line-height: normal;
			letter-spacing: 0.2px;
			text-transform: uppercase;
			color: $--white;
		}
	}
	&__contact{
		color: $--white;
		flex-direction: column;
		gap: 25px;
		flex-direction: column;
		align-items: baseline;
		display: flex;
		@media screen and (min-width:768px) {
			max-width: 220px;
		}
		span, a{
			color: inherit;
		}
		span{
			opacity: .7;
		}
		svg{
			min-width: 22px;
		}
	
	}
&__socials{
	
	a{
		max-width: 60px;
		max-height:60px;
		background-color: #1F1F1F;
		border-right: 0.882px solid rgba(194, 194, 194, 0.40);

border-left: 0.882px solid rgba(194, 194, 194, 0.40);


	}
}
	&__copy{
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 20px;
		flex-direction: column;
		color: $--white;
		background-color: $--black;
		padding-top: 20px;
		@media  screen and (min-width:768px) {
			flex-direction: row;
			padding: 0 0 0 25px;
		}
		p{
			font-size: 14px;
			font-style: normal;
			font-weight: 500;
			line-height: 150%;
			letter-spacing: 0.14px;
			color: rgba(234, 234, 234, 0.50);
			strong{
				color: $--white;
			}
			@media screen and (max-width:767.9px) {
			text-align: center;	
			}
		}
		.lumios{
			display: flex;
			align-items: center;
			justify-content: center;
			width: 100%;
			gap: 15px;
			padding: 19px 51px 19px 47px;
			background-color: $--orange;
			@media screen and (min-width:768px) {
				width: fit-content;
			}
		}
	}
}